#login-form,
#sign-up-form,
#new-am-entry,
#new-pm-entry {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-nav {
  margin-left: auto;
}

.home-height {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-height p {
  text-align: center;
}
/* source https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.95s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
/*  */
#signin-button-flash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#alert {
  background-color: cadetblue;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}
#login-form {
  width: 300px;
  margin: 0 auto;
}
/* .navbar-brand {
  color: red;
  display: flex;
  justify-content: space-between;
} */

#quote-container-past-entries {
  background: no-repeat center/cover url("peaceful_background.jpg");
  height: 300px;
  z-index: -1;
  padding: 40px 100px 0 100px;
}

/* #quote-container-past-entries-content {
  margin: 0 100px 0 100px;
} */

#quote-container-past-entries p {
  margin-left: 20px;
}

.quote {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.past-entry-text {
  overflow: scroll;
  height: 120px;
}

.demo-1 {
  background: no-repeat center/cover url("peaceful_background.jpg");
  height: 100vh;
}

.homepage-quote {
  text-align: center;
}

.form-note {
  color: rgb(177, 177, 177);
}

.card-body,
.modal-content {
  margin: 50px;
  border-radius: 20px;
  width: [object Object]px;
  height: [object Object]px;
  /* background: #f8f8f8; */
  border: solid #bdbdbd 1px;
  /* border: solid limegreen 3px; */
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

/* .modal-header {
  background: rgb(183, 183, 164);
  border-radius: 15px 15px 0 0;
} */

.button-and-note-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.close {
  border-radius: 40%;
}

.close:hover,
.submit-button:hover,
.entry-submit-button:hover {
  background-color: rgb(183, 183, 164);
}

#login-button,
.submit-button,
.entry-submit-button {
  width: 100px;
  border-radius: 10px;
  float: center;
}

.entry-submit-button {
  margin: 0 auto;
}

#login-form input,
.modal-body input,
.modal-body textarea,
.modal-body select {
  margin-bottom: 10px;
  padding-left: 5px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

/* .modal-body label {
  margin-left: 10px;
} */

.modal-body textarea {
  height: 120px;
}

.modal-body .form-radio-label-input-container {
  display: flex;
  flex-direction: column;
}

.modal-body input[type="radio"] {
  box-shadow: none;
  height: auto;
  color: greenyellow;
}

#login-form input:focus,
.modal-body input:focus,
.modal-body textarea:focus,
.modal-body select:focus {
  outline: none;
  border: 2px greenyellow solid;
}

.form-note {
  color: rgb(177, 177, 177);
  margin-top: 10px;
}

/* profile template specific styles */
#welcome-message {
  margin-left: 20px;
  margin-top: 20px;
}

#profile-card {
  width: 600px;
  border: 20px;
}

/* chart template specific styles */

#chart-heading-content {
  margin: 50px;
  max-width: 800px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: left; */
}
.chart {
  margin: 100px;
  max-width: 1000px;
}

/* .card-title {
  padding: 0;
  border: 1px greenyellow;
} */

/* .card{
  padding: 20px;
  margin: 0px;
  
} */
