body {
  /* background: #fafbfc; */
  background: no-repeat center/cover url("peaceful_background.jpg");
}

#login-form,
#sign-up-form,
#new-am-entry,
#new-pm-entry {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #264653;
}

.navbar-brand {
  margin-left: 10px;
  /* color: rgba(255, 255, 255, 0.55); */
  opacity: 0.55;
}

.navbar-nav {
  margin-left: auto;
}

.home-height {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homepage-description {
  max-width: 500px;
  margin: 20px;
}

.home-height h1,
.home-height h3 {
  text-align: center;
  color: white;
}

.home-height h3 {
  color: #e9c46a;
}

.home-height p {
  text-align: center;
}

/* source https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-bottom: 30px;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.95s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
/* sign form */
#signin-button-flash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#alert {
  background-color: #e76f51;
  display: inline-block;
  margin: 0 auto;
  padding: 0 3px;
  margin-bottom: 3px;
}

/* login from styles */
#login-form {
  padding: 10px;
  border: 3px solid #e9c46a;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
  width: [object Object]px;
  height: [object Object]px;
  background: rgb(248, 248, 248, 0.9);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

#login-form input {
  opacity: 0.6;
}

#login-form p {
  margin: 10px;
}

/* past entries quote styles */
#quote-container-past-entries {
  z-index: -1;
  padding: 40px 100px 0 100px;
  color: white;
  /* border: white 1px solid; */
  border-radius: 15px;
  margin: 0 auto;
  max-width: 800px;
}
#quote-container-past-entries p {
  opacity: 0.6;
  margin-left: 20px;
}

.quote {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

#quote-container-past-entries footer {
  font-size: 20px;
}

/* past entries card styles */
.past-entries-card-container {
  display: flex;
  justify-content: center;
}

.past-entries-card-contain li {
  margin-left: 30px;
}

.past-entry-text {
  overflow: scroll;
  height: 125px;
  border: 1px solid #d8d7d7;
  border-radius: 5px;
  padding: 5px;
}

.demo-1 {
  background: no-repeat center/cover url("peaceful_background.jpg");
  height: 100vh;
}

.homepage-quote {
  text-align: center;
}

.note {
  color: rgb(177, 177, 177);
}

.card-body,
.modal-content {
  margin: 50px;
  border-radius: 20px;
  width: [object Object]px;
  height: [object Object]px;
  background: #f8f8f8;
  border: solid #bdbdbd 1px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

.card-body {
  max-width: 1000px;
  padding: 0;
  border: 3px solid rgb(38, 70, 83);
  color: rgb(38, 70, 83);
}

.card-body-container {
  padding: 10px;
  padding-top: 0;
}

.time-of-day-title {
  background-color: rgb(38, 70, 83);
  color: rgba(255, 255, 255, 0.521);
  border-radius: 15px 15px 0 0;
  padding: 20px;
  margin-top: -8px;
}

.button-and-note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  border-radius: 40%;
}

#login-button:hover,
.close:hover,
.submit-button:hover,
.entry-submit-button:hover {
  background-color: #2a9d8f;
  color: white;
}

#login-button,
.submit-button,
.entry-submit-button {
  width: 100px;
  border-radius: 10px;
  float: center;
}

.entry-submit-button {
  margin: 0 auto;
}

#login-form input,
.modal-body input,
.modal-body textarea,
.modal-body select {
  margin-bottom: 10px;
  padding-left: 5px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.modal-body textarea {
  height: 120px;
}

.modal-body .form-radio-label-input-container {
  display: flex;
  flex-direction: column;
}

.modal-body input[type="radio"] {
  box-shadow: none;
  height: auto;
  /* color: greenyellow; */
}

#login-form input:focus,
.modal-body input:focus,
.modal-body textarea:focus,
.modal-body select:focus {
  outline: none;
  border: 2px #2a9d8f solid;
}

.form-note {
  color: rgb(177, 177, 177);
  margin-top: 10px;
}

/* profile template specific styles */
#welcome-message {
  margin-left: 20px;
  margin-top: 20px;
}

#profile-card {
  width: 600px;
  border: 20px;
  margin: 50px auto;
  padding: 0;
  border-radius: 20px;
}

#profile-card .card-body {
  margin: 0;
  padding: 10px;
}

#profile-name {
  border-bottom: 1px solid #264653;
}

#edit-profile {
  color: rgb(177, 177, 177);
  float: right;
  margin-right: 50px;
  text-decoration: none;
}

/* chart template specific styles */

#chart-heading-content {
  margin: 40px auto;
  max-width: 800px;
  /* color: white; */
  font-size: 20px;
}

.chart {
  margin: 0 auto 100px auto;
  max-width: 1000px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}

#page-footer {
  background-color: rgb(38, 70, 83);
  color: rgba(255, 255, 255, 0.37);
  position: fixed;
  bottom: 0px;
  right: 20px;
  display: block;
}
