<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mindeful Everyday</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="../static/styles.css"/>
    {% block head %} {%endblock%}
  </head>
  <body>
    <div class="continer-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Mindful Everyday</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          {% if 'user_id' in session %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Entry
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/new_am_entry" data-toggle="modal"
                data-target="#amModal">Morning</a>
                <a class="dropdown-item" href="/new_pm_entry" data-toggle="modal"
                data-target="#pmModal">Evening</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">View Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/display_chart">View Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
<div
  class="modal fade"
  id="amModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="amModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="amModalLabel">New Morning Entry</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/handle_new_am_entry" id="new-am-entry" method="POST">
          <div>
            <p class="alert" id="alert" role="alert" style="display: none">Morning entry for this date already exists.</p>
          </div>
          <label for="date">Date</label>
          <input
            type="date"
            id="date"
            name="date"
            value="{{today}}"
            max="{{today}}"
            required
          />
          <script>
            const alertMessage = document.querySelector('#alert')
            const dateInput = document.querySelector('#date')
            dateInput.addEventListener('change', e =>{
              fetch(`/check_am_date?date=${dateInput.value}`, {method:'get'}).then(results=>(results.json())).then(res=>{alertMessage.style.display=res.hasDate?'block':'None'})
            })
          </script>
          <div>
            <label for="gratitude">Three things I am grateful for and why</label>
            <ol>
              <li>
                <input type="text" id="gratitude1" name="gratitude" /><input
                  type="text"
                  id="gratitude-reason1"
                  name="gratitude-reason"
                  placeholder="because"
                />
              </li>
              <li>
                <input type="text" id="gratitude2" name="gratitude" /><input
                  type="text"
                  id="gratitude-reson2"
                  name="gratitude-reason"
                />
              </li>
              <li>
                <input type="text" id="gratitude3" name="gratitude" /><input
                  type="text"
                  id="gratitude-reason3"
                  name="gratitude-reason"
                />
              </li>
            </ol>
          </div>
          <label for="hrs-sleep">I slept <input type="number" id="hrs-sleep" name="hrs-sleep" min="0" max="24" /> hours last night.</label>
          <label for="snooze">This morning I pressed snooze <input type="number" id="snooze" name="snooze" min="0" max="10" /> times.</label>
          <div>
            
              <label for="qual-sleep">The quality of my sleep was <select name="qual-sleep" id="qual-sleep" default='none'>
                <option value="none"></option><option name="qual-sleep" value="1">horrible</option>
                <option name="qual-sleep" value="2">ok</option>
                <option name="qual-sleep" value="3">average</option>
                <option name="qual-sleep" value="4">good</option>
                <option name="qual-sleep" value="5">fantastic</option>
              </select></label>
              
            <!-- <div> -->
              <!-- <input type="radio" id="qual-sleep-1" name="qual-sleep" value="1" />
            
              <label for="qual-sleep-1">Horrible</label>
              <input type="radio" id="qual-sleep-2" name="qual-sleep" value="2" />
              <label for="qual-sleep-2">Ok</label>
              <input type="radio" id="qual-sleep-3" name="qual-sleep" value="3" />
              <label for="qual-sleep-3">Average</label>
              <input type="radio" id="qual-sleep-4" name="qual-sleep" value="4" />
              <label for="qual-sleep-4">Good</label>
              <input type="radio" id="qual-sleep-5"  name="qual-sleep" value="5" />
              <label for="qual-sleep-5">Fantastic</label>
            </div> -->
          </div>  
          <label for="goal"
            >One goal or intention I'd feel good about accomplishing today is</label
          >
          <input type="text" id="goal" name="goal" />
          <label for="journal-entry">My morning thoughts</label>
          <textarea
            name="journal-entry"
            id="journal-entry"
            cols="30"
            rows="10"
          ></textarea>
          <button class="entry-submit-button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="pmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="pmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pmModalLabel">New Evening Entry</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <p class="alert" id="alert" role="alert">{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
      </div>
      <div class="modal-body">
        <form action="/handle_new_pm_entry" id="new-pm-entry" method="POST">
          <label for="date">Date</label>
          {# set so it defaults to todays date #}
          <input
            type="date"
            id="date"
            name="date"
            value="{{today}}"
            max="{{today}}"
            required
          />
          <div>
            <label for="activity-level">How active were you today?</label>
            <input type="radio" id="activity-level-1" name="activity-level" value="1" />
            <label for="activity-level-1">1</label>
            <input type="radio" id="activity-level-2" name="activity-level" value="2" />
            <label for="activity-level-2">2</label>
            <input type="radio" id="activity-level-3" name="activity-level" value="3" />
            <label for="activity-level-3">3</label>
            <input type="radio" id="activity-level-4" name="activity-level" value="4" />
            <label for="activity-level-4">4</label>
            <input type="radio" id="activity-level-5" name="activity-level" value="5" />
            <label for="activity-level-5">5</label>
          </div>
          {# would like to show the goal the set that morning in the label prompt #}
          <div>
            <label for="qual-day">Overall quality of your day?</label>
            <input type="radio" id="qual-day-1" name="qual-day" value="1" required />
            <label for="qual-day-1">Horrible</label>
            <input type="radio" id="qual-day-2" name="qual-day" value="2" required />
            <label for="qual-day-2">Ok</label>
            <input type="radio" id="qual-day-3" name="qual-day" value="3" required />
            <label for="qual-day-3">Average</label>
            <input type="radio" id="qual-day-4" name="qual-day" value="4" required />
            <label for="qual-day-4">Good</label>
            <input type="radio" id="qual-day-5" name="qual-day" value="5" required />
            <label for="qual-day-5">Fantastic</label>
          </div>
          <div>
            <label for="goal-completed"
              >Did you complete the goal you set this morning?</label
            >
            <input type="radio" id="yes" name="goal-completed" value="1" />
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="goal-completed" value="0" />
            <label for="no">No</label>
          </div>
        
          <label>Top three emotions for the day</label>
          <ol>
            <li>
              <input type="text" id="emotion" name="emotion" />
            </li>
            <li>
              <input type="text" id="emotion" name="emotion" />
            </li>
            <li>
              <input type="text" id="emotion" name="emotion" />
            </li>
          </ol>
          <label for="journal-entry">Evening Thoughts</label>
          <textarea
            name="journal-entry"
            id="journal-entry"
            cols="30"
            rows="10"
          ></textarea>
          <button class="entry-submit-button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
          {% else %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </nav>
  </div>
      <!-- <div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <p class="alert alert-primary" role="alert">{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
      </div> -->
      {% block body %}{% endblock %}
      <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"
      ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
