{% extends 'base.html' %}{% block body %}
<h1 id="contact-heading">Connect with the creator of Mindful Everyday</h1>
<div class="card" id="contact-card">
  <div class="card-body">
    <div class="row">
      <h3 id="contact-name">Nicole Dreon</h3>
      <div class="col-5">
        <img src="/static/nicole.jpg"></img>
      </div>
      <div class="col-7">
        <p>Email: dreon.nicole@gmail.com</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/nicoledreon/">/nicoledreon</a></p>
        <p>GitHub: <a href="https://github.com/NicoleDreon">NicoleDreon</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
