{% extends 'base.html' %}{% block head %} {%endblock%} {% block body %}
<section class="demo-1">
  <div class="row home-height">
    <div class="col-xs-12 col-sm-6" id="homepage-description">
      <h1 class="typewriter">Mindful Everyday</h1>
      <h3>
        a daily journaling application with analytics to help users gain a
        deeper understanding of self
      </h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <form action="/login" id="login-form" method="POST">
        <label for="email" name="email">Email</label
        ><input type="text" name="email" id="email" />
        <label for="password" name="password">Password</label
        ><input type="password" name="password" id="password" />
        <div id="signin-button-flash-container">
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %}
          <p class="alert" id="alert" role="alert">{{ message }}</p>
          {% endfor %} {% endif %} {% endwith %}

          <button id="login-button">Login</button>
        </div>
        <p>
          Not a member,
          <a
            type="button"
            data-toggle="modal"
            data-target="#exampleModal"
            href="/sign_up"
            >sign up</a
          >.
        </p>
      </form>
    </div>
  </div>
  <!-- <div class="row">
    <blockquote class="quote">
      &ldquo;{{quote['q']}}&rdquo;
      <footer>&mdash;{{quote['a']}}</footer>
    </blockquote>
  </div> -->
</section>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create an Account</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- sign up form -->
        <form action="/profile" id="sign-up-form" method="POST">
          <label for="fname"
            >First Name <span style="color: rgb(177, 177, 177)"> *</span></label
          >
          <input type="text" id="fname" name="fname" required />
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lname" />
          <label for="email"
            >Email Address<span style="color: rgb(177, 177, 177)">
              *</span
            ></label
          >
          <input type="email" id="email" name="email" required />
          <label for="phone"
            >Phone Number
            <sup
              ><span style="color: rgb(177, 177, 177)">
                (###-###-####)</span
              ></sup
            ></label
          >
          <input
            type="tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            id="phone"
            name="phone"
          />
          <label for="dob">Birthday</label>
          <input type="date" id="dob" name="dob" />
          <div class="form-radio-label-input-container">
            <label>Gender</label>
            <div>
              <select name="gender" id="gender">
                <option></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="nonbianary">Nonbianary</option>
              </select>
            </div>
          </div>

          <label for="password" name="password"
            >Password<span style="color: rgb(177, 177, 177)"> *</span></label
          >
          <input type="password" id="password" name="password" required />
          <div class="button-and-note-container">
            <button class="submit-button">Submit</button>
            <p class="note">* indicates a required field</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
