{% extends 'base.html' %}{% block head %}
<link rel="stylesheet" href="/static/styles.css" />{% endblock %} {% block
body%}
<form action="/handle_new_pm_entry" id="new-pm-entry" method="POST">
  <label for="date">Date</label>
  {# set so it defaults to todays date #}
  <input type="date" id="date" name="date" required />
  <div>
    <label for="activity-level">How active were you today?</label>
    <input type="radio" id="activity-level-1" name="activity-level" value="1" />
    <label for="activity-level-1">1</label>
    <input type="radio" id="activity-level-2" name="activity-level" value="2" />
    <label for="activity-level-2">2</label>
    <input type="radio" id="activity-level-3" name="activity-level" value="3" />
    <label for="activity-level-3">3</label>
    <input type="radio" id="activity-level-4" name="activity-level" value="4" />
    <label for="activity-level-4">4</label>
    <input type="radio" id="activity-level-5" name="activity-level" value="5" />
    <label for="activity-level-5">5</label>
  </div>
  {# would like to show the goal the set that morning in the label prompt #}
  <div>
    <label for="qual-day">Overall quality of your day?</label>
    <input type="radio" id="qual-day-1" name="qual-day" value="1" />
    <label for="qual-day-1">Horrible</label>
    <input type="radio" id="qual-day-2" name="qual-day" value="2" />
    <label for="qual-day-2">Ok</label>
    <input type="radio" id="qual-day-3" name="qual-day" value="3" />
    <label for="qual-day-3">Average</label>
    <input type="radio" id="qual-day-4" name="qual-day" value="4" />
    <label for="qual-day-4">Good</label>
    <input type="radio" id="qual-day-5" name="qual-day" value="5" />
    <label for="qual-day-5">Fantastic</label>
  </div>
  <div>
    <label for="goal-completed"
      >Did you complete the goal you set this morning?</label
    >
    <input type="radio" id="yes" name="goal-completed" value="1" />
    <label for="yes">Yes</label>
    <input type="radio" id="no" name="goal-completed" value="0" />
    <label for="no">No</label>
  </div>

  <label>Top three emotions for the day</label>
  <ol>
    <li>
      <input type="text" id="emotion" name="emotion" />
    </li>
    <li>
      <input type="text" id="emotion" name="emotion" />
    </li>
    <li>
      <input type="text" id="emotion" name="emotion" />
    </li>
  </ol>
  <label for="journal-entry">Evening Thoughts</label>
  <textarea
    name="journal-entry"
    id="journal-entry"
    cols="30"
    rows="10"
  ></textarea>
  <button>Submit</button>
</form>
{% endblock %}
