{% extends 'base.html' %}{% block body %}
<div class="card">
  <div class="card-body">
    <div class="row">
      <p>{{fname}} {{lname}}</p>
    </div>

    <!-- <div class="row">
      <div class="col">
        <p>First Name: {{fname}}</p>
      </div>
      <div class="col">
        <p>Last Name: {{lname}}</p>
      </div> -->
    <!-- </div> -->
    <div class="row">
      <div class="col">
        <p>Birthday: {{dob}}</p>
      </div>
      <div class="col">
        <p>Gender: {{gender}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Email: {{email}}</p>
      </div>
      <div class="col">
        <p>Phone Number: {{phone}}</p>
      </div>
    </div>
    <p>Password: {% for letter in password %} * {% endfor %}</p>
  </div>
</div>
{% endblock%}
